<p>
  When combined with an Emberella Sparse array, records are gradually fetched and rendered as the customer scrolls through the list. This reduces DOM clutter and API traffic.
</p>

{{#ella-treadmill
  content=model
  row="92px"
  as |problem|
}}
  {{#if problem.is_loading}}
    {{loading-indicator class="blades"}}
  {{else}}
    {{problem-listing problem=problem}}
  {{/if}}
{{else}}
  {{#if model.loading}}
    <div class="loading data-loading">
      {{loading-indicator class="balls"}}
    </div>
  {{else}}
    <p>No problems today!</p>
  {{/if}}
{{/ella-treadmill}}
